
.navbar {
    padding: 15px;
    height: 60px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.navbarLogo {
    vertical-align:middle;
}

.title {
    padding-left: 10px;
}