.search {
  padding: 1.5rem 0;
  width: 100%;
  flex: flex-grow;
}

.search *:focus {
  border: none;
  outline: none;
}


.searchForm {
  display: flex;
  align-items: center;
  border-radius: 3px;
  position: relative;
  vertical-align: middle;
}

.searchInput {
  overflow-wrap: break-word;
  box-sizing: border-box;
  background: #2d303b;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px 10px 55px;
  flex-grow: 1;
  border: none;
  border-radius: 20px;
  width: 100%;
}

.searchInputHome {
    overflow-wrap: break-word;
    box-sizing: border-box;
    background: #2d303b;
    color: #fff;
    font-size: 24px;
    padding: 20px 35px 20px 65px;
    flex-grow: 1;
    border: none;
    border-radius: 35px;
    width: 100%;
  }
  
  .icon {
    left: 10px;
    transform: scale(0.9);
    width: 35px;
    height: 35px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAARdJREFUOBHNkz1uwkAQhTGkhCuELlQUiAtwilzHtU8BVLkHF4iokbJJkS41EiTS5nvL2FrQGMsdIz3N7ntvZn+8HgyyiDEuwBv4BifLmi8yW/sQ4xMowRl4Ib4Eo/YuKGYixT9QgSUYW9ZcvKJsbYSo42hFmVeeUbzp8vnHRNAdKCqvSc1JTy78NXeVEXWxiuWVcDORnlz4b6TLFFFfRzF2DUaiT5IrxqPnG0L+mDDzDBn3YuNDxjVDNdrZ7LVh/UGtv7sy2+3z1X7xz91GIhFLoOh6R+vWJtao62VrgW1aKsZP8rSrYf6vHSnYgw1IxyEHoAjgfrN7K6kYBKAI4DGbfbCzZ72j3lEUxRdFKxB6F3sF2okg7R/6f6gee6OuegAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 45% 45%;
    opacity: 0.4;
    position: absolute;
  }

  .iconHome {
    left: 15px;
    transform: scale(1);
    width: 45px;
    height: 45px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAARdJREFUOBHNkz1uwkAQhTGkhCuELlQUiAtwilzHtU8BVLkHF4iokbJJkS41EiTS5nvL2FrQGMsdIz3N7ntvZn+8HgyyiDEuwBv4BifLmi8yW/sQ4xMowRl4Ib4Eo/YuKGYixT9QgSUYW9ZcvKJsbYSo42hFmVeeUbzp8vnHRNAdKCqvSc1JTy78NXeVEXWxiuWVcDORnlz4b6TLFFFfRzF2DUaiT5IrxqPnG0L+mDDzDBn3YuNDxjVDNdrZ7LVh/UGtv7sy2+3z1X7xz91GIhFLoOh6R+vWJtao62VrgW1aKsZP8rSrYf6vHSnYgw1IxyEHoAjgfrN7K6kYBKAI4DGbfbCzZ72j3lEUxRdFKxB6F3sF2okg7R/6f6gee6OuegAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 50%;
    opacity: 0.4;
    position: absolute;
  }