
.resultContainer {
    padding: 0.5em ;
}

.resultContainer:hover {
    background-color: #f4f6f8;
}

.title h1 {
    font-size: 20px;
}

.titleName {
    padding: 0 20px;
}

.title small {
    /* font-style: italic; */
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.content {

}

.content small {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.link {
    text-align: right;
    font-size: 16px;
    color: #999;
}

.metadata {
    font-size: 12px;
}

.version  {
    font-family: 'Roboto Mono', monospace;
}